@import '../../styles/var.less';

:root {
  --rv-floating-ball-size: calc(48 * @hd);
  --rv-floating-ball-z-index: 8;
}

@floating-ball-size: var(--rv-floating-ball-size);
@floating-ball-transition: all 0.4s ease;
@floating-ball-z-index: var(--rv-floating-ball-z-index);
