@import '../../../common/style/var.less';

.vant-doc-md-wrapper {
  position: relative;
  &--simulator {
    padding-right: @van-doc-simulator-width;
  }

  .vant-doc-md--slugs {
    @media (min-width: 1400px) {
      display: flex;
    }
    position: fixed;
    left: calc(@van-doc-nav-width + 14px);
    top: calc(@van-doc-header-top-height + 24px);
    display: none;
    flex-direction: column;
    max-width: 160px;
    overflow: hidden;
    font-size: 13px;

    .vant-doc-md--slug {
      box-sizing: border-box;
      cursor: pointer;
      color: #545454;
      margin: 0 0 8px;
      padding-left: 10px;
      border-left: 2px solid transparent;
      text-overflow: ellipsis;
      overflow: hidden;
      font-weight: 600;

      &:hover,
      &-ac {
        color: @van-doc-blue;
        border-left-color: @van-doc-blue;
      }

      &-3 {
        padding-left: 20px;
        font-weight: 400;
      }

      &-title {
        font-size: 14px;
        font-weight: bold;
        padding: 0 0 10px 10px;
      }
    }
  }
}

.vant-doc-md-page {
  width: 100%;
  margin: 0 auto;
  padding: 24px;
  box-sizing: border-box;
  position: relative;

  @media (min-width: 1400px) {
    max-width: 660px;
    margin: 0 0 0 auto;
  }
  @media (min-width: 1600px) {
    margin: 0 auto;
    max-width: 780px;
  }
  @media (min-width: 1680px) {
    max-width: 820px;
  }

  &--fluid {
    max-width: 100%;
    @media (min-width: 1480px) {
      padding: 24px 48px;
    }
    @media (min-width: 1680px) {
      padding: 24px 80px;
    }
  }
}
