@import '../common/style/var.less';
@import '../common/style/base.less';

body {
  min-width: 100vw;
  background: #f7f8fa;
}
.vant-doc-demo-app {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
