@import '../../../common/style/var.less';

.vant-doc-nav {
  min-width: @van-doc-nav-width;
  max-width: @van-doc-nav-width;
  padding: 0 0 24px;
  overflow-y: auto;
  background-color: #fff;
  border-right: 1px solid @van-doc-border-color;
  height: 100vh;
  overflow-y: auto;
  box-sizing: border-box;

  &__logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: @van-doc-header-top-height;
    padding-left: 24px;
    img,
    span {
      vertical-align: middle;
    }
    img {
      width: 32px;
      margin-right: 8px;
    }
    span {
      display: inline-block;
      color: #1d1d1d;
      font-weight: 500;
      text-decoration: none;
      font-size: 22px;
      line-height: 100%;
    }
  }

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 6px;
  }
  &:hover::-webkit-scrollbar-thumb {
    background-color: rgba(69, 90, 100, 0.2);
  }
  &__group {
    margin-bottom: 16px;
    padding-left: 6px;
  }
  &__title {
    padding: 8px 0 8px @van-doc-padding;
    color: @van-doc-black;
    font-weight: 600;
    font-size: 15px;
    line-height: 28px;
  }
}
