@import '../../../common/style/var.less';

.vant-doc-simulator {
  position: fixed;
  top: @van-doc-header-top-height;
  right: 0;
  z-index: 9998;
  box-sizing: border-box;
  width: @van-doc-simulator-width;
  min-width: @van-doc-simulator-width;
  overflow: hidden;
  background: #fafafa;
  border-left: 1px solid @van-doc-border-color;

  &-fixed {
    position: fixed;
    top: @van-doc-padding;
  }
  iframe {
    display: block;
    width: 100%;
    height: calc(100vh - @van-doc-header-top-height);
  }
}
