@import '../../styles/var.less';

@textarea-min-height: 60 * @hd;
@textarea-word-limit-color: var(--rv-gray-7);
@textarea-word-limit-font-size: var(--rv-font-size-sm);
@textarea-word-limit-line-height: 16 * @hd;
